// estilos de contactos

.main-contactos {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  
    form {
      fieldset {
        border: 1px solid #0e0202;
        padding: 2rem;
        border-radius: 8px;
        margin-bottom: 2rem;
  
        legend {
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
  
        div {
          margin-bottom: 1.5rem;
          text-align: left;
  
          label {
            display: block;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }
  
          input[type="text"],
          textarea {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid #0e0303;
            border-radius: 4px;
            font-size: 1rem;
            box-sizing: border-box;
          }
  
          textarea {
            resize: vertical; 
          }
        }
  
        input[type="submit"],
        input[type="reset"] {
          background-color: #000;
          color: #fff;
          border: none;
          padding: 1rem 2rem;
          cursor: pointer;
          font-size: 1.1rem;
          margin-right: 1rem;
          margin-bottom: 10px;
          border-radius: 4px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #333;
          }
        }
      }
    }
  }
  
  footer {
    @include estilo-footer($primary-color, $secondary-color);
}
  