/* Estilos para el main del index servicios*/

.main-servicios {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    // Estructura de cada servicio
    .servicio {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        margin-bottom: 2rem;

        // Texto de servicio
        .servicio-texto {
            flex: 1;
            h2 {
                @include alinear-texto (left);
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1rem;
                line-height: 1.5;
                text-align: justify;
            }
        }

        // Imagen de servicio
        .servicio-imagen {
            flex: 1;
            img {
                width: 90%;
                height: auto;
                display: block;
                border: 1px solid #000;
                border-radius: 15px;
            }
        }
    }

    // Media query para pantallas pequeñas (mobile)
    @media screen and (max-width: 600px) {
        .servicio {
            flex-direction: column;
            text-align: center;

            .servicio-imagen {
                order: 2;
                margin-bottom: 1rem;
            }
            .servicio-imagen{
                order: 1;
            }
        }
    }
}

footer {
    @include estilo-footer($primary-color, $secondary-color);
    width: 100vw;
    padding-top: 100px;
}